:root {
    -webkit-tap-highlight-color: rgba(var(--color-scheme-accent-rgb, 0, 0, 0), 0.5);
    accent-color: var(--color-scheme-accent, #000000);
    background-color: var(--color-scheme-background, #ffffff);
    color: var(--color-scheme-foreground, #000000);
}
