:root, :host {
    --flux-select-color-scheme-background-color: #ffffff;
    --flux-select-color-scheme-color-scheme-accent-color: #000000;
    --flux-select-color-scheme-color-scheme-background-color: #ffffff;
    --flux-select-color-scheme-color-scheme-border-color-rgb: 128, 128, 128;
    --flux-select-color-scheme-color-scheme-foreground-color: #000000;
    --flux-select-color-scheme-color-scheme-outline-color: #000000;
    --flux-select-color-scheme-foreground-color: #000000;
}
