:root {
    --flux-color-scheme-dark-accent: #000000;
    --flux-color-scheme-dark-accent-foreground: #ffffff;
    --flux-color-scheme-dark-accent-foreground-rgb: 255, 255, 255;
    --flux-color-scheme-dark-accent-rgb: 0, 0, 0;
    --flux-color-scheme-dark-background: #000000;
    --flux-color-scheme-dark-background-rgb: 0, 0, 0;
    --flux-color-scheme-dark-foreground: #ffffff;
    --flux-color-scheme-dark-foreground-rgb: 255, 255, 255;
    --flux-color-scheme-light-accent: #000000;
    --flux-color-scheme-light-accent-foreground: #ffffff;
    --flux-color-scheme-light-accent-foreground-rgb: 255, 255, 255;
    --flux-color-scheme-light-accent-rgb: 0, 0, 0;
    --flux-color-scheme-light-background: #ffffff;
    --flux-color-scheme-light-background-rgb: 255, 255, 255;
    --flux-color-scheme-light-foreground: #000000;
    --flux-color-scheme-light-foreground-rgb: 0, 0, 0;
    -webkit-tap-highlight-color: rgba(var(--flux-color-scheme-accent-rgb, 0, 0, 0), 0.5);
    accent-color: var(--flux-color-scheme-accent, #000000);
    background-color: var(--flux-color-scheme-background, #ffffff);
    color: var(--flux-color-scheme-foreground, #000000);
}

::selection {
    background-color: var(--flux-color-scheme-accent, #000000);
    color: var(--flux-color-scheme-accent-foreground, #ffffff);
}
