:root {
    --flux-select-color-scheme-background-color: var(--flux-color-scheme-background, #ffffff);
    --flux-select-color-scheme-color-scheme-border-color-rgb: 128, 128, 128;
    --flux-select-color-scheme-color-scheme-outline-color: var(--flux-color-scheme-foreground, #000000);
    --flux-select-color-scheme-foreground-color: var(--flux-color-scheme-foreground, #000000);
}
