:host {
    background-color: var(--flux-select-color-scheme-background-color);
    color: var(--flux-select-color-scheme-foreground-color);
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.title {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    margin: -4px 0;
    width: 100%;
}

.color_schemes {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 6px;
    height: auto;
    width: 100%;
}

.color_scheme {
    background-clip: content-box;
    background-color: var(--flux-select-color-scheme-color-scheme-background-color);
    border: 1px solid rgb(var(--flux-select-color-scheme-color-scheme-border-color-rgb), 0.5);
    border-radius: 45px;
    cursor: default;
    flex-grow: 0;
    flex-shrink: 0;
    height: 45px;
    outline: none;
    padding: 3px;
    overflow: hidden;
    position: relative;
    width: 45px;
}

.color_scheme:not([data-selected]) {
    cursor: pointer;
}

.color_scheme:focus-visible {
    outline: 2px solid var(--flux-select-color-scheme-color-scheme-outline-color);
    outline-offset: -2px;
}

.color_scheme::before {
    background-color: var(--flux-select-color-scheme-color-scheme-foreground-color);
    content: "";
    position: absolute;
}

.color_scheme:not([data-system])::before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.color_scheme:not([data-system])::before,
[data-show_accent_color] .color_scheme:not([data-system])::after {
    border-radius: 10px;
    height: 10px;
    width: 10px;
}

[data-show_accent_color] .color_scheme:not([data-system])::before {
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

[data-show_accent_color] .color_scheme:not([data-system])::after {
    background-color: var(--flux-select-color-scheme-color-scheme-accent-color);
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.color_scheme[data-system]:not([data-selected])::before {
    border-end-end-radius: 45px;
    border-start-end-radius: 45px;
    bottom: 3px;
    right: 3px;
    top: 3px;
    width: calc(50% - 3px);
}

.color_scheme[data-selected] {
    border-color: rgb(var(--flux-select-color-scheme-color-scheme-border-color-rgb));
    border-width: 4px;
    padding: 0;
}

.color_scheme[data-system][data-selected]::before {
    bottom: 0;
    right: 0;
    top: 0;
    width: 50%;
}
